@charset "utf-8";
body { margin:0; padding:0; }
/* html { padding:0; margin:0; } */
p { padding:0;margin:0; }
img { border:0px; }
a { cursor:pointer; }
.main { width:100%; padding:0; margin:0 auto; background: #ebebeb; }
.header { background:#d8e9f9;padding:0; margin:0 auto; }
.block_header {margin:0 auto; width:986px; padding:0; }
.clr { clear:both; padding:0; margin:0; background:none; }
/* logo */
.logo { float:left; padding: 0px 0px 0px 25px; margin:0; width:277px; }
/* search */
.search { padding: 0px 25px 0px 0px; margin:0; float:right; }
.search form { display:block; float:right; padding:0; }
.search span { display:block; float:left; background: url(../images/search_bg.gif) left top no-repeat; width:149px; padding:0 5px; height:33px; }
.search form .keywords { line-height:14px; float:left; border:0; width:149px; padding:9px 0; height:14px; background:none; margin:0; font:normal 14px Arial, Helvetica, sans-serif; color:#9c9c9c; }
.search form .button { float:left; margin:0; padding:0; }
.search p { font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none;line-height:24px; }
.search a { color:#5c8783; font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none; }
/********** slider **********/
.slider_top { margin:0 auto; padding:0;background:#d8e9f9; }/* background:#1e81de; */
/*header_text*/
.header_text { margin:0px; padding:23px 0 0 0; background:#d8e9f9; }
.header_text .div { width:860px; height:240px;padding:0; margin:0 auto; }
.header_text p { font: normal 12px Arial, Helvetica, sans-serif; color:#878787; padding:5px 50px 20px 0; margin:0; }
/****Recent border-right:1px solid #ddd;**/
.Recent  { width:100px; height: 100px; float:left; padding:0px; margin:20px 10px 0 10px; border:0px; overflow:hidden;text-align:center;}
.Recent p { text-align:center; }
.Recent a img { border:0px; }
.RecentBlock {width:0px;height: 100px;float:left;padding:0px; margin:20px 0px 0px 0px;border-right:1px solid #ddd;overflow:hidden;}
.RecentBlank {width:10px;height: 100px;float:left;padding:0px; margin:20px 0px 0px 0px;border:0px;overflow:hidden;}
/*************footer**********/
.footer_resize { width:986px; margin:0 auto;background:url(../images/footer_center.png);height:416px;padding: 0; }
.footer {padding:0;  margin:0;background:url(../images/footer_border.png) repeat-x;height:416px;}/* height:55px; background:#d7d7d7 url(../images/footer_bg.gif) repeat-x;*/
.footer p { font:normal 11px  Arial, Helvetica, sans-serif; color:#d8e9f9;}/* 6d6d6d */
.footer a { font:normal 12px Arial, Helvetica, sans-serif; color:#d8e9f9; text-decoration:none; padding:5px; margin:0;}
.footer p.leftt { text-align:left; width:50%; margin:0; padding:10px 0 0 20px; float:left;} 
.footer p.rightt { text-align:right; width:30%; margin:0; padding:15px 20px 0 0; float:right;} 

/* slider */
.gallery { width:980px; height:250px; margin:0 auto; padding:0; }
#slider { margin: 0px auto; padding:74px 0 0 0 ; height:263px; width:984px;  border:0px solid #cdd7d9;}/**  margin:0 auto; padding:0; list-style:none;  **/
#slider ul,
#slider li { margin:0; padding:0; list-style:none; }
/* 
    define width and height of list item (slide)
    entire slider area will adjust according to the parameters provided here
*/
#slider li { width:980px; height:250px; overflow:hidden; }/*background: url(../images/header_text_bg.gif) top repeat;*/
p#controls { width:980px; margin:0 auto; padding:0; position:relative; }
#prevBtn { display:block; margin:0; overflow:hidden; width:183px; height:47px; position:absolute; right: 612px; top:-300px; background:url(../images/appsbyssoon.png);}
#nextBtn { display:block; margin:0; overflow:hidden; width:183px; height:47px; position:absolute; left: 612px; top:-300px; background:url(../images/appsbytranon.png);}
#prevBtn a { display:block; width:183px; height:47px; background:url(../images/appsbyssooff.png); }
#nextBtn a { display:block; width:183px; height:47px; background:url(../images/appsbytranoff.png); }
/* search */
#search_out {width:100%;height:0px;margin:0;padding:0;z-index:100000000;position:absolute;top:78px;}
#search_bar, #search_close_bar { width:980px;height:0px;background:#d8e9f9;margin:0 auto; }
#search_close {display:none;width:20px;height:20px;margin:-20px 0 0 0;padding:0;background:#d8e9f9;text-align:center;font-size:18px;cursor:pointer;float:right;}
/* select */
#select_bar { width:980px;height:70px;background:#d8e9f9;margin:0 auto; }
/* help */
.help {width:24px;height:24px;padding:0px;margin: 0;display: block;overflow: hidden;float:right;z-index:100000001; }/* position: fixed;right: 0px;top: 0px;margin:-30px -27px 0 0;-32px -50px 0 */
.help a {width:24px;height:24px;margin:0;padding:0px;display: block;text-align:center;line-height:24px;font-size:20px;background:url(../images/help.png);z-index:100000002; }/* */
#login_div { width:980px;margin: 0 auto; padding: 0; position: relative;text-align:center; }
#login_span { width: 232px;height:70px;margin: 0; padding:0;position: absolute;overflow:hidden;right: 374px; top:-312px;text-align:center;background:url(../images/login_bg.png); }
#loging_span { display:none;width: 232px;height:70px;margin: 0; padding:0;position: absolute;overflow:hidden;right: 374px; top:-312px;text-align:center;background:url(../images/login_bg.png);color:#000000; line-height:70px;text-decoration:none;font-size: 20px;font-family:"宋体"; }
#logout_span { width: 232px;height:70px;margin: 0; padding:0;position: absolute;overflow:hidden;right: 374px; top:-312px;text-align:center;background:url(../images/login_bg.png); }
#login_span a {display:block; width: 232px;height:70px;color:#000000; line-height:70px;text-decoration:none;font-size: 20px;font-family:"宋体";}
#logout_span a {display:block; width: 232px;height:70px;color:#000000; line-height:70px;text-decoration:none;font-size: 20px;font-family:"宋体";}
.mask {display: block;position: relative;top: -90px;left: 4px;z-index: 1;width: 92px;height: 92px;background: url(../images/mask90.png) 0 0 no-repeat;}
