@charset "utf-8";
html,body,p { padding:0;margin:0; }
body { margin:0; padding:0;background: #E7E7E7; }
img { border:0px; }
a { cursor:pointer; }
.clr { clear:both; padding:0; margin:0; background:none; }
.main { width:100%; padding:0; margin:0 auto; background: #ebebeb; }



.header { background:#e1ecef;padding:0; margin:0 auto; }
.header_block { width:986px; margin: 0px auto; padding:0; }
.logo { float:left; padding: 8px 0px 8px 25px; margin:0; }

.top_bg2 { background:url(/images/top_bg2.gif) top repeat-x; margin:-10px 0 0 0; padding:0; height:23px}



.body { margin:0; padding:0 0 12px 0;}
.body_block { width:954px; margin:0 auto; padding:0 15px; }
.body_menu {width:180px;float:left;}
.body_right {width:756px;height:auto;margin:0;padding:0;float:right; }
.body_menubar { background: url(http://new.cnzz.com/v1/images/common/menu_baner.gif) no-repeat;width: 180px;height: 26px; }
.body_menuall { padding:10px;height: auto;}
.body_menubarfont { padding:0 0 0 15px; font-weight: bold; font-size: 14px; color: #ffffff; line-height: 26px; }
.body_menuall a { text-decoration:none;color:#6d6d6d; }



.footer { padding:0; margin:0 auto;background:#d7d7d7 url(/images/footer_bg.gif) repeat-x;height:55px; }
.footer_block { width:986px; margin:0 auto;padding: 0; }
.footer span { font:normal 12px Arial, Helvetica, sans-serif; color:#6d6d6d;padding:5px; margin:0; }
.footer a { text-decoration:none;font:normal 12px Arial, Helvetica, sans-serif; color:#6d6d6d; }
.footer p.leftt { text-align:left; width:50%; margin:0; padding:10px 0 0 20px; float:left;} 
.footer p.rightt { text-align:right; width:30%; margin:0; padding:15px 20px 0 0; float:right;}
