@charset "utf-8";
html,body,p { padding:0;margin:0;font-family: 'Microsoft YaHei' }
body { margin:0; padding:0;/*background: #f7f7f7;*/background-image: url(/images/y_0372452427.jpg);background-repeat: repeat-x; }
img { border:0px; }
a { cursor:pointer; }
.clr { clear:both; padding:0; margin:0; background:none; }
.main { width:100%; padding:0; margin:0 auto; /*background: #E7E7E7;*/  }
hr {height:1px;border:none;border-top:2px solid grey;}


.header { /*background:#E7E7E7;*/padding:0; margin:0 auto; }
.header_block { margin: 0px auto; padding:0; width:1000px;}
.ls_head { height:8px;background-color:/* 底色 */ #A00B0F;
}
.logo { float:left; padding: 8px 0px 8px 25px; margin:0; }
.logo img{height:90px;}
/*.skins_link{width:65px;height:45px;padding:0 5px;line-height:45px;position:fixed;right:0;top:0px;text-align:center;text-decoration: none;color:#666;}
.skin_link_contain:hover{text-decoration:underline;}
.skins_link:hover,.skin_link:hover{color:#A00B0F;}
.skin_link_contain{background:url(/images/bg.jpg) repeat-x;width:75px;height:45px;border:1px solid white;}
.skin_link{display:block;text-decoration: none;color:#666;vertical-align:50%;line-height:45px;position:relative;}
#themes{position:fixed;right:0;top:47px;text-align:center;}*/
.ls_info{float:right;margin-top:40px; margin-right:30px;}
.ls_info a,.ls_info span {text-decoration:none;display:inline_block;color:#666;}
.ls_info a:hover{text-decoration:underline;}
.ls_info img{margin-right:5px;margin-bottom:-5px;}
#sso,#nosso{width:1000px;margin:0 auto;}
.banner{height:45px;background:#A00B0F;/*margin-top:30px;border-radius:8px;*/}
.title{padding:0 18px;display:inline-block;vertical-align:middle;color:#fff;}
.extra{display:inline-block; height: 100%; vertical-align:middle;}
.bottom{/*border:1px dotted grey;*/ background-image:url(/images/bottom.jpg);background-repeat: no-repeat;padding-top:20px;padding-bottom:10px;width:1000px;margin:0 auto}
.bottom p{text-align:center;line-height:200%}

.app {margin:20px 0 0 0;}
.Recent  { width:115px; height: 120px; float:left; padding:0px; margin:0px 0px 0 10px; border:0px; overflow:hidden;text-align:center;}
.Recent p { text-align:center; }
.Recent a div {position: relative;height:100px;}
.Recent a img { border:0px;display: block;position: absolute;top: 0px;left: 0px;width:100px;height:100px; }
.RecentBlock {width:0px;height: 110px;float:left;padding:0px; margin:20px 0px 0px 0px;border-right:1px solid #ddd;overflow:hidden;}
.RecentBlank {width:0px;height: 110px;float:left;padding:0px; margin:20px 0px 0px 0px;border:0px;overflow:hidden;}
.mask { display: block;position: relative;top: 0px;left: 0px;width: 116px;height: 114px;background: url(/images/icons_20121001/appsIconbg.png) 0 0 no-repeat; }
.Recent a .mask {z-index:1;display: block;position: absolute;top: 0px;left: 0px; background: url(/images/mask100gray.png) 0 0 no-repeat;}

#popup-login-container { 
  z-index:2;
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40); 
}
#popup-login { 
  display:none;
  border:0px solid #1e81de;
  border-radius:12px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 160px;
  overflow: hidden;
  margin-left: -160px;
  margin-top: -100px;
  _position: absolute;
  _margin-top: 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background:none; 
}
.popup-bg-top { 
  z-index:99;
  position:absolute;
  top:0;
  left:0;
  width:320px;
  height:28px;
  /*background:url(/images/icons_20121001/pupop_bg_top.png) no-repeat; */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#fafafa));
  background:-moz-linear-gradient(top, #eeeeee,#fafafa);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee,endColorstr=#fafafa,grandientType=1);
  background: -ms-linear-gradient(top, #eeeeee, #fafafa);
  background: linear-gradient(top, #eeeeee, #fafafa); 
  border-bottom:1px solid #e0e0e0
}
.popup-bg-middle { 
  z-index:99;
  position:absolute;
  top:28px;
  left:0;
  width:320px;
  height:104px;
  /*background:url(/images/icons_20121001/pupop_bg_middle.png) repeat-y; */
  background:#fff;
}
.popup-bg-bottom { 
  z-index:99;
  position:absolute;
  top:132px;
  left:0;
  width:320px; 
  height:28px; 
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eeeeee));
  background:-moz-linear-gradient(top, #fafafa,#eeeeee);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafa,endColorstr=#eeeeee,grandientType=1);
  background: -ms-linear-gradient(top, #fafafa, #eeeeee);
  background: linear-gradient(top, #fafafa, #eeeeee); 
  /*background:url(/images/icons_20121001/pupop_bg_bottom.png) no-repeat; 
  background:#F3F5F5;*/
}
.popup-login-info { 
  margin:16px auto 0 auto;
  width:320px;
  text-align:center;
  line-height:24px; 
}
.popup-login-action { 
  margin:16px auto 0 auto;
  width:320px;
  text-align:center;
  line-height:24px;
  z-index: 1; 
}
.popup-login-action  input[type=submit] {
	-moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}
.popup-login-action  input[type=submit]:hover{
	background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #A00B0F;
}
.popup-login-action  input[type="submit"]:focus {
    outline: medium none;
	color: #A00B0F;
	border: 1px solid #C6C6C6;
}
.skins_link {
  line-height: 30px;
  position: fixed;
  left: -1px;
  top: 30%;
  text-align: center;
  text-decoration: none;
  color: #666;
  border: 1px #ececec solid;
  background: white;
  margin-bottom: 0;
  z-index: 96;
  overflow: hidden;
  display: block;
}
.skins_link i{
	margin:6px 0;
}
.skins_link span {
  padding: 0 6px;
}
#themes {
  /* position: fixed; 
  left: 36px;
  top: 50%;
  text-align: center;
  margin-top: -16px;
  z-index: 98; */
}
.skin_link_contain {
  min-width: 30px;
  height: 30px;
  border: 0px solid white;
  border-top: 1px #ececec solid;
  display: block;
  margin: 0px 0 0 0px;
  background: #ffffff;
}
.skin_link {
  display: inline-block;
  text-decoration: none;
  color: #666;
  vertical-align: 50%;
  line-height: 30px;
  position: relative;
  font-size: 12px;
} 
.skins_link:hover,.skin_link:hover{
	color:#A00B0F;
}

