blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}
img {
    border: 0px;
}
body, button, input, select, textarea {
  font: 12px/1.125 Arial,Helvetica,sans-serif;
}
body{
  margin:0;
  padding:0;
  background:#f3f5f5;
    color: #666;
    font-family: 'Microsoft YaHei';
}
a{
  text-decoration:none;
  cursor: pointer;
}
li {
    list-style: none;
}
.show {display: block;}
.hide {display: none;}
.global_header{
  background-image: url(/images/bg_header.png);
  background-repeat: 0 0 repeat-x;
  width:100%;
  height: 55px;
  position:fixed;
  z-index:1;
  top:0;
}
.header_wrapper {
  width:980px;
  height:50px;
  margin:0 auto;
}
.logo_container{
  float:left;
  padding: 5px 0 0 0;
}
.nav_list_container{
  float:left;
  display:block;
  padding-left:60px;
}
.nav_list {
    float: left;
    font-size: 16px;
    font-family: "Microsoft Yahei";
}
.nav_item {
    float: left;
    margin-right: 1px;
}
.nav_link {
    display: inline-block;
    height: 48px;
    padding: 0 18px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    text-decoration: none;
    line-height: 48px;
}
.nav_link:hover, .nav_more_mouseover, .login_link:hover/*,.skins_link:hover,.skin_link:hover */{
    background: #ddd;
    text-decoration: none;
}
.pull_right{
  float:right;
}
.login_link_container {
  font-size:16px;
  font-family:'Microsoft YaHei';
  display: block;
}
.login_link, .btn_center {
    display: inline-block;
    height: 48px;
    padding: 0 20px;
    color: #333;
    font-size: 16px;
    line-height: 48px;
    text-decoration: none;
}
.clr{
  clear:both;
}
.total_ontainer {
  padding-top: 50px;
}
.switcher-container {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
}
.switcher-container .switcher {
  display: inline-block;
  padding: 10px 12px;
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
  text-decoration: none;
  /* margin: 10px 12px; */
  /* line-height: 32px; */
}
.switcher-container .switcher-item {
  float: left;
  /*padding: 6px 12px;*/
  border: 1px solid #e9ebeb;
  margin: -1px -1px 0px 0px;
  font-size: 22px;
}
.switcher-container .loader-container {
  border: 0;
}
.switcher-container .switcher-item:hover {
  /*border-top: 1px solid #f3f5f5;*/
  color: #A00B0F;
}
.switcher-container .switcher-item.active {
  border-top: 1px solid #f3f5f5;
  border-right: 1px solid #f3f5f5;
  background: #f3f5f5;
}
.list_display {
    width: 978px;
    border: 1px solid #e9ebeb;
    background-color: #fff;
    margin: 20px auto;
}
.list_display .inner {
    padding: 48px;
    position: relative;
}
.list_display .item {
    margin-top: 28px;
    padding-bottom: 26px;
    background-image: url(/images/line.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.list_display .item.first {
    margin-top: 0px;
}
.list_display .item.last {
    background-image: none;
    padding-bottom: 0;
}
.list_display .item .main_title {
    line-height: 32px;
    vertical-align: top;
    font-size: 22px;
    color: #333;
    font-weight: lighter;
}
.list_display .item .item_icon {
  display: inline-block;
  width: 36px;
  height: 32px;
  /*background-image: url(../../../images/home/new_icons.png?id=14163071110686384);*/
}
.list_display .item .case_box {
  background-color: transparent;
  border-top: none;
  height: 135px;
}
.list_display .item .case_item {
  padding: 10px 31px 0 31px;
    float: left;
    width: 80px;
    height: 126px;
    text-align: center;
}
.list_display .item .case_name {
  font-size: 14px;
    font-weight: 700;
}
.list_display .item .case_cover_img {
    border-radius: 5px;
}
.case_list_container {
    /*padding: 4px 0 0 0;*/
}
.case_list {
    height: 138px;
    padding: 0 0 0 15px;
    overflow: hidden;
}
.case_cover_link {
    display: block;
    margin-bottom: 10px;
}
.case_cover_img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.case_cover_link:hover .case_cover_img {
    opacity: .9;
    filter: alpha(opacity=90);
}
.case_name_link {
    display: inline-block;
    width: 110px;
    margin: 0 -15px;
    overflow: hidden;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list_display .item .case_info_box {
  position: relative;
    margin: 0 45px;
    background-color: #f3f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    height: inherit;
}
.list_display .item .info_table_container {
  font-size: 14px;
    padding: 20px;
    line-height: 22px;
    color: #666;
}
.list_display .item .info_box_arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
  border-bottom-color: #e0e0e0;
    border-width: 10px;
    left: 79px;
    top: -20px;
}
.list_display .item .info_box_arrow_inner {
  position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 8px;
    overflow: hidden;
    left: -8px;
    top: -6px;
    border-bottom-color: #f3f5f5;
}

.operation {
  position: relative;
}
.operation:hover {
    /*border: 1px solid #A00B0F;
    margin: -1px;*/
}
/*.operation.app.app2:hover {
    margin: -1px 49px;
}*/
.operation:hover .operator-container {
    display: block;
    z-index: 1;
}
.operation .operator-container {
    position: absolute;
    right: 22px;
    top: 2px;
    /* margin: 10px 10px 0 0; */
    /*background-color: #A00B0F;*/
    display: none;
}
.operation .operator {
    /* padding: 0 1px; */
    font-family: 黑体, monospace;
    font-size: 18px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    display: none;
}
.operation .operator.add, .operation .operator.del {
    display: block;
}
.operation .operator-item a.operator {
    color: #f3f5f5;
}
.operation .operator-item a.operator:hover {
  /* border-top: 1px solid #f3f5f5; */
  color: #fff;
}
.operation .operator-icon {
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.op_footer {
    width: 980px;
    margin: 20px auto 0;
    padding-bottom: 20px;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}
.op_footer .inner {
  border-top: 1px solid #f9fafa;
}
.op_footer .links {
  margin: 20px 0 10px;
}
.op_footer .copyright {
    color: #999;
}
.op_footer .copyright a {
    color: #999;
}
.foot_link {
    margin: 0 15px;
    color: #999;
}

/* hover */
.nav_link:hover, .login_link:hover /*,.skins_link:hover,.skin_link:hover*/,.skins_link:hover,.skin_link:hover,.skin_link_contain:hover{
    /*background: #ddd;*/
    text-decoration: none;
    color:#A00B0F;
}
.case_name_link:hover, .foot_link:hover {
    text-decoration: none;
    color:#A00B0F;
}


#popup-login-container { 
  z-index:2;
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40); 
}
#popup-login { 
  display:none;
  border:0px solid #1e81de;
  border-radius:12px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 160px;
  overflow: hidden;
  margin-left: -160px;
  margin-top: -100px;
  _position: absolute;
  _margin-top: 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background:none; 
}
.popup-bg-top { 
  z-index:99;
  position:absolute;
  top:0;
  left:0;
  width:320px;
  height:28px;
  /*background:url(/images/icons_20121001/pupop_bg_top.png) no-repeat; */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#fafafa));
  background:-moz-linear-gradient(top, #eeeeee,#fafafa);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee,endColorstr=#fafafa,grandientType=1);
  background: -ms-linear-gradient(top, #eeeeee, #fafafa);
  background: linear-gradient(top, #eeeeee, #fafafa); 
  border-bottom:1px solid #e0e0e0;
}
.popup-bg-middle { 
  z-index:99;
  position:absolute;
  top:28px;
  left:0;
  width:320px;
  height:104px;
  /*background:url(/images/icons_20121001/pupop_bg_middle.png) repeat-y; */
  background:#fff;
}
.popup-bg-bottom { 
  z-index:99;
  position:absolute;
  top:132px;
  left:0;
  width:320px; 
  height:28px; 
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eeeeee));
  background:-moz-linear-gradient(top, #fafafa,#eeeeee);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafa,endColorstr=#eeeeee,grandientType=1);
  background: -ms-linear-gradient(top, #fafafa, #eeeeee);
  background: linear-gradient(top, #fafafa, #eeeeee); 
  /*background:url(/images/icons_20121001/pupop_bg_bottom.png) no-repeat; 
  background:#F3F5F5;*/
}
.popup-login-info { 
  margin:16px auto 0 auto;
  width:320px;
  text-align:center;
  line-height:24px; 
}
.popup-login-action { 
  margin:16px auto 0 auto;
  width:320px;
  text-align:center;
  line-height:24px;
  z-index: 1; 
}
.popup-login-action  input[type=submit] {
	-moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}
.popup-login-action  input[type=submit]:hover{
	background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #A00B0F;
}
.popup-login-action  input[type="submit"]:focus {
    outline: medium none;
	color: #A00B0F;
	border: 1px solid #C6C6C6;
}

.skins_link {
  line-height: 30px;
  position: fixed;
  left: -1px;
  top: 30%;
  text-align: center;
  text-decoration: none;
  color: #666;
  border: 1px #ececec solid;
  background: white;
  margin-bottom: 0;
  z-index: 96;
  overflow: hidden;
  display: block;
}
.skins_link i{
	margin:6px 0;
}
.skins_link span {
  padding: 0 6px;
}
#themes {
  /* position: fixed; 
  left: 36px;
  top: 50%;
  text-align: center;
  margin-top: -16px;
  z-index: 98; */
}
.skin_link_contain {
  min-width: 30px;
  height: 30px;
  border: 0px solid white;
  border-top: 1px #ececec solid;
  display: block;
  margin: 0px 0 0 0px;
  background: #ffffff;
}
.skin_link {
  display: inline-block;
  text-decoration: none;
  color: #666;
  vertical-align: 50%;
  line-height: 30px;
  position: relative;
  font-size: 12px;
} 

@media screen and (max-width: 767px) {
  .skins_link {
    font-size: 16px;
  }
  .header_wrapper {
    width: 600px;
  }
  .nav_list_container {
    padding-left: 20px;
  }
  .login_link, .btn_center, .nav_link {
    padding: 0 6px;
  }
  .list_display {
    width: 598px;
  }
  .list_display .inner {
    padding: 48px 0px;
  }
  .op_footer {
    width: 598px;
  }
}

.loading{
	/*margin: 12px 0 0 0;*/
  /*vertical-align: middle;*/
  display: block;
  height: 20px;
	/*margin:12px 0 0 0;
	vertical-align:middle;
  display: block;*/
}
