@charset "utf-8";
body { margin:0; padding:0; width:100%;}
html { padding:0; margin:0;}
p {padding:0;margin:0;}
img { border:0px; }
span {display: inline-block;}
/* d3 */
circle, path {
  cursor: pointer;
}
circle {
  fill: none;
  pointer-events: all;
}
#user_info {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
#sidebar {
  top: 0px;
  right: 0px;
  position: absolute;
  width: 100px;
}
#legend {
  padding: 10px 0 0 3px;
}
#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}
#browser_d3 {
  position: relative;
}
#browser_d3 path {
  stroke: #fff;
}
#explanation {
  position: absolute;
  top: 310px;
  left: 390px;
  width: 180px;
  text-align: center;
  color: #666;
  /*z-index: -1;*/
}
#percentage {
  font-size: 2.5em;
}
/* main */
.main {width:100%; padding:0; margin:0 auto; background: #ebebeb; }

/********** header **********/
.header { background:#e1ecef; padding:0; margin:0 auto; }

.block_header {margin:0 auto; width:986px; padding:0;}
/* logo */
.logo { float:left; padding:0; margin:0; width:277px;}
/* search */
.search { padding:18px 18px 13px 0; margin:0; float:right; width:640px;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background: url(/images/search_bg.gif) left top no-repeat; width:149px; padding:0 5px; height:33px;}
.search form .keywords { line-height:14px; float:left; border:0; width:149px; padding:9px 0; height:14px; background:none; margin:0; font:normal 14px Arial, Helvetica, sans-serif; color:#9c9c9c;}
.search form .button { float:left; margin:0; padding:0;}
.search p {font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none;line-height:24px;}
.search a {color:#5c8783; font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none;}
/* menu */	
.menu { float:right; padding:0; margin:0; width:550px; height:35px;}
.menu ul {float:right; text-align:right; padding:0; margin:0; list-style:none; border:0; height:35px;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0; height:35px;}
.menu ul li a { float:left; margin:0; padding:10px 0; color:#5c8783; font:normal 12px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a span { padding:10px 13px; background:none;}
.menu ul li a:hover { background:url(/images/r_menu.gif) right no-repeat;}
.menu ul li a:hover span { background:url(/images/l_menu.gif) left no-repeat;}
.menu ul li a.active { background:url(/images/r_menu.gif) right no-repeat;}
.menu ul li a.active span { background:url(/images/l_menu.gif) left no-repeat;}

.container {position: relative;}

/********** slider **********/
.slider_top {margin:0 auto; padding:0; background:#e1ecef;}
/*header_text*/
.header_text { margin:0 auto; padding:29px 0 0 0; height:263px; width:984px; background: url(/images/header_text_bg.gif) top repeat-x; border:1px solid #cdd7d9;}
.header_text .div { width:860px; padding:0; margin:0 auto;}
.header_text img.screen { float:left; margin:0; padding:0;}
.header_text .div .left1 { float:right; width:415px; padding:10px 0 0 0; margin:0;}
.header_text .div .left1 img { float:left; margin:0; padding:0;}
.header_text .div .left1 h2 { font:normal 24px Arial, Helvetica, sans-serif; color:#5c8783; padding:10px 0 10px 0; margin:0;}
.header_text .div .left1 p.uli { background: url(../images/simple_ul_li.gif) left no-repeat; padding:2px 20px; margin:0; font: normal 12px Arial, Helvetica, sans-serif; color:#878787;}
.header_text p { font: normal 12px Arial, Helvetica, sans-serif; color:#878787; padding:5px 50px 20px 0; margin:0;}
/********** slider **********/
.header_text2 { margin:0 auto; padding:29px 0 0 0; height:72px; width:984px; background: url(/images/header_text2_bg.gif) top repeat-x; border:1px solid #cdd7d9;}
.header_text2 h2 { padding:0 0 0 25px; margin:0; font: normal 36px Arial, Helvetica, sans-serif; color:#5c8783;}
.header_text2 img { float:right; margin:0; padding:10px 20px 0 0;}
/* top_bg */
.top_bg { background:url(/images/top_bg.gif) top repeat-x; margin:0; padding:0;}
.top_bg2 { background:url(/images/top_bg2.gif) top repeat-x; margin:0; padding:0; height:23px}
.top_bg_resize { width:984px; margin:0 auto; padding:0;}
.top_bg_resize img { float:left; margin:0 20px; padding:0;}
/*FBG*/
.FBG { margin:0 auto; padding:0 0 20px 0;}
.FBG p { font:normal 11px Arial, Helvetica, sans-serif; color:#5f5f5f; line-height:1.8em; padding:5px 0; margin:0;}
.FBG p strong { color:#2a2a2a;}
.FBG img { float: left; margin:10px 10px; padding:0;}
.FBG .Recent img { float: left; margin:10px 10px 10px 0px; padding:0;}
.FBG_resize { width:984px; margin:0 auto; padding:0; border:1px solid #d4d4d4; background:#f0f0f0;}
/****Recent border-right:1px solid #ddd;**/
.Recent  { width:220px; height: 110px; float:left; padding:0px; margin:10px 10px 0px 10px; border:0px; overflow:hidden;}
.RecentR  { width:220px; height: 110px; float:left; padding:0px; margin:10px 10px 0px 10px; border:0px; overflow:hidden;}
.RecentBlock {width:0px;height: 110px;float:left;padding:0px; margin:10px 0px 0px 0px;border-right:1px solid #ddd;overflow:hidden;}
.RecentBlank {width:10px;height: 110px;float:left;padding:0px; margin:10px 0px 0px 0px;border:0px;overflow:hidden;}
.Recent2  { width:220px; float:left; padding:10px; margin:10px 0;}
.FBG .RecentTran img { float: left; margin:10px 10px 10px 0px; padding:0;}
.RecentTran { width:100px; height: 110px; float:left; padding:0px; margin:10px 10px 0px 10px; border:0px; overflow:hidden;  #ddd;overflow:hidden;}}
/********** block index **********/
.body { margin:0; padding:0 0 20px 0;}
.body_resize { width:954px; margin:0 auto; padding:0 15px; border:1px solid #d4d4d4; background:#eee;}
.body_resize h2 { font:normal 20px Arial, Helvetica, sans-serif; color:#282828; padding:5px 5px; margin:0; border-bottom:1px solid #dfdfdf;}
.body_resize h3 { font:normal 20px Arial, Helvetica, sans-serif; color:#282828; padding:5px 5px; margin:0;}
.body_resize h2 span { font:normal 11px Arial, Helvetica, sans-serif; color:#819e9c; padding:5px 0; margin:0;}
.body_resize p { font:normal 12px Arial, Helvetica, sans-serif; color:#747474; padding:10px 0px; margin:0; line-height:1.8em;}
.body_resize p span { color:#819e9c;}
.body_resize a { color:#ea3900; text-decoration: underline;}
.left ul { list-style:none; margin:0 0 0 210px; padding:10px 0 20px 0;}
.left li { /*background:url(../images/port_ul_li.gif) left no-repeat;*/ padding:2px 20px; margin:0; font: normal 12px Arial, Helvetica, sans-serif; color:#5c8783; line-height:1.8em;}
.body_resize img { float:left; margin:20px 10px; padding:0;}
.body_resize img.floated { float:left; margin:10px 5px; padding:0;}
.right  { width:325px; float:right; margin:0; padding:10px 10px;} 
.left  { width:565px; float:left; margin:0; padding:10px 10px;} 
.blog { width:280px; float:left; margin:0; padding:10px;}
.body_resize .text {margin: 0 0 10px 0;}

/****************自定义 style*********************/
.center {margin:0; padding:0;text-align:center;background:#e1ecef;}
.block_center {font-size:14px;margin:0 auto; width:480px; height:160px; padding:10px;}
.left .login_icon {float:left;text-align:center;margin:0;padding:0;width:260px;height:88px;}
.left .logo_icon { float:left;text-align:center;margin:0;padding:0;width:260px;height:130px; }
.top_bg_resize span {height:50px;float:left;line-height:50px;font-size:14px; color:#FFFFFF;margin:0; padding:0;}
pre { font-family:monospace; font-size:14px; }
.left li a {color:#5c8783;text-decoration:none;}
.left .li1 {padding:2px 20px 2px 40px;}
.left .li2 {padding:2px 20px 2px 60px;}
.header_text2 p { float:right; margin:0; padding:0px 20px 0 0; }
.header_text2 a { color: #EA3  ; text-decoration: underline; }
input[type="text"],input[type="password"] { width: 240px; height: 20px; border: 0px; line-height:20px; }
.table select { width: 240px; }
.table textarea {float:left;width: 236px; height: 60px;border: 0px; line-height:20px;}
.table { border : 0px; text-align:left; line-height:24px; }
.table tr { border : 0px; font:Arial, Helvetica, sans-serif; color:#6d6d6d;}
.table td { border : 0px; font:Arial, Helvetica, sans-serif; color:#6d6d6d; padding: 8px; }
.table th { border : 0px; font:Arial, Helvetica, sans-serif; color:#6d6d6d; padding: 8px; background: #addddd; text-align:center;}
.table td label {padding:0px 0px 0px 4px;color:#819e9c;}
.table .tdcenter { border : 0px; font:Arial, Helvetica, sans-serif; color:#6d6d6d; padding: 8px; text-align:center; }
.row0 {
	color:#6d6d6d;
	background: #E1ECEF;
	font-size: 14px;
	font-weight: bold;
}
.row1 {
	color:#6d6d6d;
	background: #E1ECEF;
	font-size: 14px;
	text-decoration: none;
}
.row2 {
	background: #E1ECEF;
}
.row2:hover {
	background: #addddd;
}
.row3 {
	color:#6d6d6d;
	font-size: 14px;
	text-decoration: none;
}
.clip { text-align:left; height:24px; overflow:hidden; text-overflow:ellipsis; word-break:keep-all;}
.param {font-size: 12px;line-height:20px;border-right:1px solid #CCC;border-bottom:1px solid #CCC;}
.param td {font-size: 12px;border-left:1px solid #CCC;border-top:1px solid #CCC;padding: 2px;}
.param th {font-size: 12px;border-left:1px solid #CCC;border-top:1px solid #CCC;padding: 2px;background: none;}
/********** contact form **********/
#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#F00;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#1c1c1c; font: bold 13px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left;}
#contactform label span { color:#F00;}
#contactform input.text { width:380px; border:1px solid #d4d4d4; margin:10px 0; padding:5px 2px; height:16px; background:#f2f2f2; float:left;}
#contactform textarea { width:380px; border:1px solid #d4d4d4; margin:10px 0; padding:2px; background:#f2f2f2; float:left;}
#contactform li.buttons input { padding:3px 0 3px 380px; margin:0; border:0; color:#FFF; float:left;}
p.response { text-align:center; color:#F00; font: normal 11px  Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto;}
/*************footer**********/
.footer_resize { width:986px; margin:0 auto; padding:0px 0 0 0; }
.footer {padding:0;  margin: 11px 0 0 0; height:55px; background:#d7d7d7 url(/images/footer_bg.gif) repeat-x;}
.footer p { font:normal 11px  Arial, Helvetica, sans-serif; color:#6d6d6d;}
.footer a { font:normal 12px Arial, Helvetica, sans-serif; color:#6d6d6d; text-decoration:none; padding:5px; margin:0;}
.footer p.leftt { text-align:left; width:50%; margin:0; padding:10px 0 0 20px; float:left;} 
.footer p.rightt { text-align:right; width:30%; margin:0; padding:15px 20px 0 0; float:right;} 

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { clear:both; border-top:1px solid #dfdfdf; padding:0; margin:10px 0; background:none; line-height:0;}
